{% extends 'base.html' %}
{% block body %}
<div class="clearfix" style="padding:50px">
    Duluan update di index
    <h4>COBA Demo web scrapping some sites using python</h4>
    <h5>Tech:</h5>
    <ul>
        <li>Flask</li>
        <li>BeauifulSoup</li>
        <li>Request</li>
        <li>Selenium</li>
        <li>Scrappy</li>
    </ul>

    <p>Source code: <a
            href="https://github.com/brifeb/demo-web-scrapping">https://github.com/brifeb/demo-web-scrapping</a></p>
</div>
{% endblock %}


